.te-explorer {
    position: fixed;
    background-color: white;
    top: 228px;
    left: 1303px;
    margin-left: -350px;
    z-index: 2100000003;
    border: 1px solid rgb(204, 204, 204);
    padding: 1px 12px 8px 12px;
    border-radius: 3px;
    width: 350px;
    height: 400px;
    /*overflow:hidden;*/
}

.check-container {
    border-right: black;
    border-right-style: groove;
    border-right-width: 1px;
    height: 300px;
}

.list-element {
    margin-bottom: 8px;
}

a {
    font-family: Roboto, Arial, sans-serif;
}

.section-link {
    margin-right: 10px;
    font-weight: 500;
    font-size: 14px;
    color: rgba(0,0,0,0.5);
}

.section-link:hover {
    color: rgba(10,10,10,1);
    text-decoration: none
}

.section-link.active {
    border-bottom: 2px solid;
    border-bottom-color: red;
    color: rgba(10,10,10,1);
    text-decoration: none
}

.steps-container {
    overflow: auto;
    height: 340px;
}

.step-checkbox {
    margin-right: 5px;
}

.step-guidance {
    /*height: 260px;*/
}

.check-li {
    margin-bottom:5px;
}

.trends-chart {
    width: 500px !important;
    height: 250px !important;
}

.control-panel {
    /*width: 400px;*/
    line-height: 2;
    border-bottom: solid 1px;
    border-bottom-color:gray;
    height: 25px;
    margin-bottom: 15px;
}

.close-control {
    float: right;
    text-align: right;
    position: relative;
    margin-right:0px !important;
}

.results {
    overflow: auto;
    height: 295px;
}

.popular-youtube {
    list-style-type: disc;
    font-size: 14px;
    margin-bottom: 5px;
}

.popular-youtube li{
    margin-left: 20px;
}

.google-auto {
    list-style-type: disc;
    font-size: 14px;
    margin-bottom: 5px;
}

.youtube-auto {
    list-style-type: disc;
    font-size: 14px;
    margin-bottom: 5px;
}

.yandex-auto {
    list-style-type: disc;
    font-size: 14px;
    margin-bottom: 5px;
}

.google-trends {
    list-style-type: disc;
    font-size: 14px;
    margin-bottom: 5px;
}

