GTrendsService/GTrendsService/node_modules/
.vs/
packages/
GTrendsService/GTrendsService/obj/Release/Package/PackageTmp/node_modules/with/LICENSE
GTrendsService/GTrendsService/obj/
AdWordsService/obj/
